<h1>Listing dishes</h1>
<p> Click on the dish you like to order !</p>
<table>
  <tbody>
    <tr>
      <% @dishes.each do |dish| %>
        <td colspan="2"><%= link_to image_tag(dish.ImageURL, size: "200x180"), dish %></td>
      <% end %>
    </tr>
    <tr>
      <% @dishes.each do |dish| %>
        <td><%= dish.dish_name %></td>
        <td><%= dish.price %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>
